.btn-special{
    background-color: red;
    margin: 400px -5px 0px 5px;
    width: 300px;
    border: red;

}
.btn:hover:after{
    border: red;
}

.positionButton{
    position: absolute;
    width: 150px;
    height: 25px;
    top: 60px;
    left: 404px;

}