<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- Chart.js -->
  <link th:href="@{css/haupt.css}" rel="stylesheet" type="text/css" media="screen">

  <title>Home</title>


</head>
<body class="bg-light">

<!-- Navbar -->
<nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-sm p-0" >
  <a class="navbar-brand col-5 col-sm-3 col-md-2 ">
    <img th:src="@{/images/test.png}" alt="Bild" height="30%" width="40%"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
    <i class="fas fa-caret-down"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"  >
        <a class="nav-link" href="/experiment">Experiment</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/management">Benutzerverwaltung</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="/experimentmanagement">Messdatenverwaltung</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span sec:authentication="principal.username"> User</span>
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class ="divider"><a href="/userprofile">Profil</a></li>
        <li class ="divider"><a href="/logout">Abmelden</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="vertical-center">
  <div class="container" th:align="center">
    <h1>Willkommen
      <span sec:authentication="principal.username"> User</span>
    </h1>
  </div>
</div>

</body>
</html>