<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link th:href="@{css/haupt.css}" rel="stylesheet" type="text/css" media="screen">
    <link th:href="@{css/button.css}" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script>
        const baseUrl = "http://localhost:8080/api/users/userlist";
        function loadUsers(){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", baseUrl, true);
            xmlhttp.onreadystatechange = function () {
                if(xmlhttp.readyState === 4 && xmlhttp.status === 200){
                    var users = JSON.parse(xmlhttp.responseText);
                    var tblHead = `<table class = "w3-table-all w3-hoverable"">
                                    <tr> <th>Id</th><th>Vorname</th><th>Nachname</th><th>Email</th><th>Rolle</th><th>Löschen</th></tr>`;
                    var body = "<tbody>";
                    for(let i=1; i < users.length;i++){

                        body += "<tr><td>" +users[i].id+" </td> <td>"+users[i].firstName+"</td>" +
                            "<td>"+users[i].lastName+"</td><td>"+users[i].email+"</td> <td>"+users[i].role+"</td>"+
                                "<td>"+`<a href="/management/delete/${users[i].id}"><input class="btn btn-danger" value="Löschen" ></a>`+
                                "</td></tr>";

                    }
                    body+= "</tbody>"
                    var tblEnd = "</table>";
                    var tbl = tblHead + body + tblEnd;
                    document.getElementById("user").innerHTML = tbl;
                }
            };
            xmlhttp.send();
        }
        window.onload = function (){
            loadUsers();
        }
    </script>
    <title>Benutzerverwaltung</title>

</head>
<body class="bg-light">

<nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-sm p-0">
    <a class="navbar-brand col-5 col-sm-3 col-md-2 mr-0" href="#"> <img th:src="@{/images/test.png}" alt="Bild" height="30px" width="80px"></a> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
        <i class="fas fa-caret-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/experiment}">Experiment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/experimentmanagement}">Messdatenverwaltung</a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span sec:authentication="principal.username"></span>
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class ="divider"><a href="/userprofile">Profil</a></li>
                <li class ="divider"><a href="/logout">Abmelden</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="vertical-center" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="container" th:align="center">
        <div class="positionButton">
            <a href='addUser'>
                <input class="btn btn-success" value="Benutzer Hinzüfugen">
            </a>
        </div>
        <br>
        <div id = "user"></div>
    </div>
</div>
<div class="vertical-center" sec:authorize="hasRole('ROLE_USER')">
    <div class="container" th:align="center">
        <h1>Sie verfügen nicht über die benötigte Berechtigung</h1>
    </div>
</div>

</body>
</html>