<!doctype html>
<html lang="de">
<head>
  <!-- Benötigte Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link th:href="@{css/style.css}" href="../../static/css/style.css" rel="stylesheet" type="text/css" media="screen">
  <title>Registrierung</title>
</head>
<body>
<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-md-4 col-sm-4 col-xs-12">

      <form class="form-container" th:action="@{/registration}" method="post" th:object="${user}">
        <!-- success message -->
        <div th:if="${param.success}">
          <div class="alert alert-info">Sie wurden erfolgreich registriert!</div>
        </div>
        <div th:if="${param.error}">
          <div class="alert alert-info">Die Registrierung ist fehlgeschlagen: Die Email Adresse ist schon vergeben</div>
        </div>
        <h1 class="tit">Registrierung</h1><br>
        <div class="mb-3">
          <label class="control-label" for="firstName"> Vorname </label>
          <input id="firstName" class="form-control" th:field="*{firstName}"
                 required autofocus="autofocus" />
        </div>
        <div class="mb-3">
          <label class="control-label" for="lastName"> Nachname </label> <input
                id="lastName" class="form-control" th:field="*{lastName}"
                required autofocus="autofocus" />
        </div>
        <div class="mb-3">
          <label class="control-label" for="email"> Email </label> <input
                id="email" class="form-control" th:field="*{email}" required
                autofocus="autofocus" />
        </div>
        <div class="mb-3">
          <label class="control-label" for="password"> Passwort </label> <input
                id="password" class="form-control" type="password"
                th:field="*{password}" required autofocus="autofocus" />
        </div>
        <div class="mb-3">
          <label class="control-label" for="role"> Rolle </label>
          <select id="role" class="form-control" th:field="*{role}" required autofocus="autofocus" >
          <option value="ROLE_ADMIN">Role_Admin</option>
          <option value="ROLE_USER">Role_User</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-success btn-block"><span class="glyphicon glyphicon-log-in">Registrieren</span></button>
        <span>Schon registriert? <a href="/" th:href="@{/login}">Zum Login</a></span>
      </form>
    </section>
  </section>
</section>
<!-- Optionales JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
